@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2f3640;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.analog-clock {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 50%;
  border: 10px ridge #ea2027;
  position: relative;
}

.analog-clock::before {
  content: "Ajanta";
  color: #ea2027;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

.analog-clock::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ea2027;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.number {
  --rotate: 0;
  position: absolute;
  color: red;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  transform: rotate(var(--rotate));
}

.number-1 {
  --rotate: 30deg;
}
.number-2 {
  --rotate: 60deg;
}
.number-3 {
  --rotate: 90deg;
}

.number-4 {
  --rotate: 120deg;
}
.number-5 {
  --rotate: 150deg;
}
.number-6 {
  --rotate: 180deg;
}
.number-7 {
  --rotate: 210deg;
}
.number-8 {
  --rotate: 240deg;
}
.number-9 {
  --rotate: 270deg;
}
.number-10 {
  --rotate: 300deg;
}
.number-11 {
  --rotate: 330deg;
}

.needle {
  --rotation: 0;
  position: absolute;
  /* width: 10px;
  height: 40%; */
  /* background-color: red; */
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 8;
  /* border: 1px solid black; */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.sec {
  background-color: red;
  width: 3px;
  height: 40%;
}

.min {
  background-color: black;
  width: 7px;
  height: 35%;
}

.hrs {
  background-color: black;
  width: 10px;
  height: 25%;
}
